.input_ctr {
  display: flex;
  gap: 5px;
  flex-direction: column;

  label {
    color: var(--unselect, #3e3e3e);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 104%; /* 15.6px */
    letter-spacing: -0.75px;
    text-transform: uppercase;
  }
  input[type='text'],
  input[type='password'] {
    display: flex;
    width: 402.667px;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    border: 1.5px solid #b5b5b5;

    color: var(--unselect, #3e3e3e);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 104%; /* 24.96px */
    letter-spacing: -1.2px;

    &:focus-visible {
      outline: none;
    }
  }

  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
