.login_ctr {
  width: 100%;
  min-height: 100vh;

  background: url(../public/images/bg_login.png) no-repeat center center / cover
    fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat-Regular';
  padding: 2.5% 0;
  .login_form {
    width:100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border: 2px solid #b5b5b5;
    border-radius: 26.5px;
    padding: 36px 24px;
    gap: 20px 0;
    .login_img_ctr {
      display: flex;
      justify-content: center;
      img {
        width: 80%;
        height: auto;
      }
    }
    .email_style {
      border-radius: 24px;
      border: 1.2px solid #b5b5b5;
      background: #fff;
      padding: 10px 18px;
      color: #b5b5b5;
    }
    .login_pass_ctr {
      position: relative;
      .password_style {
        width: 100%;
        border-radius: 24px;
        border: 1.2px solid #b5b5b5;
        background: #fff;
        padding: 10px 55px 10px 18px !important;
        color: #b5b5b5;
      }
    }
    .login_rm {
      font-size: 12px;
      color: #3e3e3e;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 0 4px;
    }
    .login_fp {
      text-decoration: underline;
      font-size: 12px;
      color: #3e3e3e;
      font-weight: 500;
    }
    button {
      border-radius: 24px;
      border: 1.2px solid #b5b5b5;
      background: #fff;
      padding: 10px 18px;
      color: #3e3e3e;
      font-weight: 600;
      font-size: 16px;
    }
  }
  .error_message{
    color: red;
    font-size: 12px;
  }
}
