table {
  width: 100%;
  font-weight: 400;
  table-layout: fixed;
  thead {
    tr {
      th {
        width: 200px;
        color: #3e3e3e;
        text-align: left;
        font-size: 16px;
        padding: 10px 0 10px 18px;
      }
    }
  }
  tbody {
    background: #fff;
    tr {
      td {
        width: 200px;
        color: #3e3e3e;
        text-align: left;
        font-size: 12px;
        padding: 30px 0 30px 18px;
        .table_status {
          padding: 2px 8px;
          border-radius: 5px;
          background: #18be1f;
          color: #fff;
          text-align: center;
          &.draft {
            background: #e2e1e1;
            color: #3e3e3e;
          }
        }
        .table_date {
          color: #b5b5b5;
        }
      }
    }
  }
}

.table_pencil,
.table_dots {
  cursor: pointer;
  width: 80px;
}
