.title {
  color: var(--unselect, #3e3e3e);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 104%; /* 24.96px */
  letter-spacing: -1.2px;
}

.password_kriteria {
  color: var(--sub2, #b5b5b5);
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 104%; /* 12.48px */
  letter-spacing: -0.6px;

  list-style-type: disc;
  list-style-position: inside;
}
